.posts-area{
    padding: 2% 10% 5%;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
    .posts-area {
        width: 100%;
        padding: 2%;
    }
}
