.post{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    height: 26vh;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.356);
}
.post-content-field{
    display: block;
    overflow-x: hidden;
    word-wrap: normal;
    word-break: break-word;
    width: 100%;
    height: 15vh;
    cursor: pointer;
}

.post-title-field {
    font-size: 110%;
    font-weight: 500;
    color: gray;
}

.post-header {
    display: flex;
    height: 33%;
    align-items: center;
}

.post-company-logo {
    margin-right: 0.3rem;
    height: 100%;

}

.post-clickable-content {
    height: 33%;
    display: flex;
    align-items: center;
    text-align: center;
}

.post-clickable-content strong {
    color: darkgreen;
}

.post-clickable-content span {
    width: 100%;
    padding: 0.3rem;
}

@media screen and (max-width: 700px) {

    .post-header {
        font-size: 14px;
        height: 33%;
    }
    .post-clickable-content {
        padding: 0.1rem 0;
        font-size: 14px;
        flex-direction: column;
        text-align: start;
    }
    .post-clickable-content span {
        padding: 0;
        margin: 0.1%;
    }
}