body{
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(207, 209, 208);
    min-height: 100vh;
}
